<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--listener-->
    <listener>
        <listener-class>com.lsy.code.web.listener.BeanFactoryListener</listener-class>
    </listener>
    <!--filter-->
    <filter>
        <filter-name>hotlinking</filter-name>
        <filter-class>com.lsy.code.web.filter.HotlinkingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hotlinking</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>com.lsy.code.web.filter.GenericEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>mgloggin</filter-name>
        <filter-class>com.lsy.code.web.filter.management.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mgloggin</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>forelogin</filter-name>
        <filter-class>com.lsy.code.web.filter.fore.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>forelogin</filter-name>
        <url-pattern>/fore/cart.jsp</url-pattern>
        <url-pattern>/fore/order/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!--servlet-->
    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mgbguser</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.management.BguserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mgbguser</servlet-name>
        <url-pattern>/mg/bguser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mgcheckimg</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.management.CheckImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mgcheckimg</servlet-name>
        <url-pattern>/mg/chekimg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mguser</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.management.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mguser</servlet-name>
        <url-pattern>/mg/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mgcategory</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.management.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mgcategory</servlet-name>
        <url-pattern>/mg/category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myorder</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.management.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myorder</servlet-name>
        <url-pattern>/mg/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myproduct</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.management.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myproduct</servlet-name>
        <url-pattern>/mg/product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forecheckimg</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.fore.CheckImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forecheckimg</servlet-name>
        <url-pattern>/fore/checkimg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>foreuser</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.fore.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>foreuser</servlet-name>
        <url-pattern>/fore/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>foreproduct</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.fore.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>foreproduct</servlet-name>
        <url-pattern>/fore/product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forecart</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.fore.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forecart</servlet-name>
        <url-pattern>/fore/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>foreorder</servlet-name>
        <servlet-class>com.lsy.code.web.servlet.fore.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>foreorder</servlet-name>
        <url-pattern>/fore/order</url-pattern>
    </servlet-mapping>
    <!--jsp-->
    <jsp-config>
       <!--taglib-->
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
        </taglib>        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
            <taglib-location>/WEB-INF/taglib/fn.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>